ul.noBullets {
    list-style-type: none;
}

.text-right {
    text-align:right;
    padding-right: 1em;
}

h2 {
    color:#4d627f;
}

h3 {
    color:#394660;
}

table {
    text-align: center;
    width: 100%;
    border: solid black 1px;

    background-color: #fafdff;
    border-collapse: collapse;
    border-spacing: 0px;
    border: none;
    box-sizing: inherit;
    color: black;
    font-family: Merriweather, Arial, sans-serif;
    font-size: 15px;
    margin: 0px 0px 2.5rem;
}

table th {
    background-color: #4d627f;
    border: 1px solid rgb(207, 215, 224);
    box-sizing: inherit;
    color: #fafdff;
    font-family: Lato;
    margin: 0px;
    padding: 0.3em 0.5em;
    text-align: center;
    text-transform: capitalize;
    vertical-align: central;
}

table td {
    border: 1px solid rgb(207, 215, 224);
    box-sizing: inherit;
    color: #1f3656;
    font-size: 14px;
    margin: 0px;
    padding: 0.3em 0.5em;
    vertical-align: central;
}