<div class="row">
    <div class="col-xs-8 col-md-8">
        <h1>
            <!-- <div id="printPDF"><img src="./Images/Icons/SaveIcon.png" height="30px"/></div> -->
            <a class="link-dark" href="https://www.linkedin.com/in/ricardo-kim-7042bb39/" target="_blank">
                Ricardo M. Kim 
                <i class="bi bi-linkedin" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            </a>
        </h1>
        <h2>Computation Engineer</h2>
        <ul class="noBullets">
            <li>Brazilian, from São Paulo.</li>
            <li>Living in Porto, Portugal.</li>
            <li>Developer .NET <i class="bi bi-file-earmark-pdf-fill" style="font-size: 1.5rem; color: red;" onclick="window.print();"></i></li>
        </ul>
    </div>
    <div class="col-xs-4 col-md-4">
        <img id="Avatar" src="./Images/Avatar.jpeg" alt="Ricardo Kim" onclick="window.print();" title="click here to save">
        <!-- <p id="printPDF" style="text-align: center;">Wanna save the CV?</p> -->
    </div>
</div>