<div class="row">
    <div class="col-xs-4 col-md-8">
        <h1>
            <!-- <div id="printPDF"><img src="./Images/Icons/SaveIcon.png" height="30px"/></div> -->
            <a class="link-dark" href="https://www.linkedin.com/in/ricardo-kim-7042bb39/" target="_blank">
                Ricardo M. Kim
            </a>
        </h1>
        <h2>Computation Engineer</h2>
        <ul class="noBullets">
            <li>Brazilian, from São Paulo.</li>
            <li>Living in Porto, Portugal.</li>
            <li>Developer .NET </li>
            <li class="d-inline hiddenPrintPDF">
                <i class="bi bi-file-earmark-pdf-fill link-type" style="font-size: 1.5rem; color: red;"
                    onclick="window.print();" title="Click here to save as PDF">
                </i>
            </li>
            <li class="d-inline hiddenPrintPDF">
                <i class="bi bi-linkedin link-type" style="font-size: 1.5rem; color: cornflowerblue;"
                    onclick="OpenUrl('https:\/\/www.linkedin.com\/in\/ricardo-kim-7042bb39\/')"
                    title="Check it out my Linkedin">
                </i>
            </li>
            <li class="d-inline hiddenPrintPDF">
                <i class="bi bi-github link-type" style="font-size: 1.5rem; color: black;"
                    onclick="OpenUrl('https:\/\/github.com\/CTrigger')" title="Check it out my Github">
                </i>
            </li>
        </ul>

    </div>
    
    <div class="col-xs-4 col-md-4 onlyPrint">
        <img id="QR" src="./Images/QRCodeCts.jpeg" title="Contact">
        <!-- <p id="printPDF" style="text-align: center;">Wanna save the CV?</p> -->
    </div>

    <div class="col-xs-4 col-md-4">
        <img id="Avatar" src="./Images/Avatar.jpeg" title="Ricardo Kim">
        <!-- <p id="printPDF" style="text-align: center;">Wanna save the CV?</p> -->
    </div>
</div>