<div class="row">
    <div class="col-md-12">
        <h2>Education</h2>
        <h3>
            <a class="link-dark" href="https://www.usjt.br/" target="_blank">
                Universidade São Judas Tadeu</a>, São Paulo, Brazil</h3>
        <ul class="noBullets">
            <li>January 2012 - December 2018</li>
            <li>Computation Engineering</li>
            <li>
                <a class="link-dark" href="https://anima.portaldeassinaturas.com.br/VerificadorAssinaturas/Verificador?codigo=711E-3D92-7354-F04A" target="_blank">Bachelor's Degree</a>
            </li>
        </ul>
    </div>
</div>