<div class="row">
    <div class="col-md-12">
        <h2>Intro</h2>
        <p>
            I'm a Software Engineer with six years of experience being four years 
            with E-Commerce and two years with insurance systems. 
        </p>
        <p>
            The beginning of this journey started with maintenance in legacy systems 
            based on ASP2.0, and to implement for more modern technologies such as 
            C# .NET applications in MVC, acting as an integrator developing plugins 
            and customizations for NopCommerce as a Fullstack, sometime later a new 
            challenge in the insurance area as a developer backend developing new 
            features through API, stored procedures. 
        </p>
        <p>
            DIY activists and familiar with embedded systems, CPLD, micro-controllers, 
            and the Internet of Things (IoT).
        </p>
    </div>
</div>