<div class="row">
    <div class="col-md-12">
        <h2>Intro</h2>
        <ul>
            <p>    
                I embarked on my career in 2014 as a full-stack developer at Netfashion, a small company where I gained extensive knowledge in E-Commerce and ERP integration. This role exposed me to a variety of industries, including textiles (B2B and B2C), gift articles, motorcycle helmets, bags, camping & hunting gear, and natural hair products.
                
            </p>
            <p>
                In 2018, I joined GTI Solution, a medium-sized software factory specializing in insurance and CRM solutions. As a back-end developer, I honed my skills in database applications, stored procedures, APIs, source code versioning, and agile methodologies (Kanban). This experience significantly improved my programming practices and teamwork abilities.

            </p>
            <p>
                In 2020, I transitioned to DefinedCrowd, a startup in the machine learning sector, as an Application Support Engineer (Level 3 Support). This role, taken during the Covid-19 lockdown, also marked my relocation to Portugal. Here, I developed expertise in troubleshooting and monitoring, though the company's financial challenges eventually led to layoffs.

            </p>
            <p>
                By 2021, I secured a position as an IT Consultant with QuickOps, working on a legacy project for an investment bank.

            </p>
            <p>
                In addition to my professional experience, I am a DIY enthusiast with a strong background in embedded systems, CPLDs, microcontrollers, and the Internet of Things (IoT).

            </p>
        </ul>
    </div>
</div>