<div class="row">
    <div class="col-md-12">
        <h2>Intro</h2>
        <ul>
            




            <p>
                I started my career in 2014 as a full-stack developer for a small company called Netfashion. 
                I learned a lot about E-Commerce and ERP integration working with different companies and business models. 
                The main clients were from the textile industry for B2B and B2C, but there were also companies marketing gift 
                articles, helmet motorcycle manufacturing, bags, camping & hunting and natural hair
            </p>
            <p>
                In 2018 I was hired by a medium-sized company called GTI Solution, a software factory whose main business 
                model was insurance and CRM. My primary role was as a back-end developer. I got experience with database 
                applications, storage procedures, APIs, source code versioning, and agile software development methodology 
                (Kanban). At this company, I learn good programming practices and improve my teamwork.
            </p>
            <p>
                In 2020, I got a job with DefinedCrowd, a startup company in the machine learning business as a 
                Applicational Support Engineer (Support lv3), I moved to a new amazing country (Portugal) during 
                the Covid-19 pandemic's lockdown. In this company I learned about troubleshooting and monitoring, 
                unfortunately this company didn't reach the breakeven and started to layoff.
            </p>
            <p>
                In 2021, I find a new job as an outsourcing IT Consultant in a Consulting group called QuickOps, in 
                nowadays I'm working in a legacy project in Investment Bank.
            </p>
            <p>
                I'm also DIY activists and familiar with embedded systems, CPLD, micro-controllers,
                and the Internet of Things (IoT).
            </p>
        </ul>
    </div>
</div>