<div class="row">
    <div class="col-md-12">
        <h2>Dossie Skills</h2>
        <h3>Level Description</h3>
        <ul class="noBullets">
            <li>1 - Knowledge theoretical/academic → without commercial use</li>
            <li>2 - Small / Medium projects with some delivery responsabilities</li>
            <li>3 - Professional Experience</li>
            <li>4 - Nothing more to learn about it</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Tool</th>
                    <th>Level</th>
                    <th>Experience</th>
                    <th>Observations</th>
                </tr>
            </thead>
            <tbody id="skillsContent">
               

            </tbody>
        </table>
    </div>
</div>