<div class="row">
    <div class="col-md-12">
        <h2>Dossie Skills</h2>
        <h3>Level Description</h3>
        <ul class="noBullets">
            <li>1 - Knowledge theoretical/academic → without commercial use</li>
            <li>2 - Small / Medium projects with some delivery responsabilities</li>
            <li>3 - Professional Experience</li>
            <li>4 - Nothing more to learn about it</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Tool</th>
                    <th>Level</th>
                    <th>Experience</th>
                    <th>Observations</th>
                </tr>
            </thead>
            <tbody id="skillsContent">
                <tr>
                    <td>C#.NET</td>
                    <td>3</td>
                    <td>4 years</td>
                    <td>Versions 4.5</td>
                </tr>
                <tr>
                    <td>ASP.NET MVC</td>
                    <td>3</td>
                    <td>4 years</td>
                    <td>MVC 3 and 4</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td>3</td>
                    <td>4 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>jQuery</td>
                    <td>3</td>
                    <td>4 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>3</td>
                    <td>5 years</td>
                    <td>Version 5</td>
                </tr>
                <tr>
                    <td>Web API</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>2</td>
                    <td>3.5 year</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bootstrap</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SVN Tortoise</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Typescript</td>
                    <td>1</td>
                    <td>0 years</td>
                    <td>Udemy Course</td>
                </tr>
                <tr>
                    <td>PostgreSQL</td>
                    <td>1</td>
                    <td>0 years</td>
                    <td>Udemy Course</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>1</td>
                    <td>3 year</td>
                    <td>Competitive skills at ICPC</td>
                </tr>
                <tr>
                    <td>T-SQL</td>
                    <td>3</td>
                    <td>1 year</td>
                    <td>T-SQL and Stored Procedures</td>
                </tr>
                <tr>
                    <td>Jenkins</td>
                    <td>3</td>
                    <td>2 year</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Redmine</td>
                    <td>3</td>
                    <td>2 year</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Batch Script</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td>Process Automation</td>
                </tr>
                <tr>
                    <td>XML</td>
                    <td>2</td>
                    <td>3 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>LINQ</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td>.Net 4.5</td>
                </tr>
                <tr>
                    <td>Lambda</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td>.Net 4.5</td>
                </tr>
                <tr>
                    <td>Xamarin</td>
                    <td>1</td>
                    <td>2 Years</td>
                    <td>Personal Projects (UI for IoT)</td>
                </tr>
                <tr>
                    <td>Dapper</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>MetroUI</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SOLID</td>
                    <td>2</td>
                    <td>2 year</td>
                    <td>Singleton, Open and Close, Liskov, Interface, Depency Inversion</td>
                </tr>
                <tr>
                    <td>Visual Studio</td>
                    <td>2</td>
                    <td>6 years</td>
                    <td>The best IDE in the world</td>
                </tr>
                <tr>
                    <td>Visual Studio Code</td>
                    <td>1</td>
                    <td>&lt;1 year</td>
                    <td>The second best IDE in the world</td>
                </tr>
                <tr>
                    <td>Node.js</td>
                    <td>1</td>
                    <td>&lt;1 year</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Git</td>
                    <td>1</td>
                    <td>&lt;1 year</td>
                    <td>Personal Projects</td>
                </tr><tr>
                    <td>Python</td>
                    <td>1</td>
                    <td>0 year</td>
                    <td>Completed Udemy Course (21 hours)</td>
                </tr>
                <tr>
                    <td>VBA</td>
                    <td>1</td>
                    <td>0 year</td>
                    <td>Completed Udemy Course (5.5 hours)</td>
                </tr>
                <tr>
                    <td>Photoshop</td>
                    <td>2</td>
                    <td>4 years</td>
                    <td>Not designer, image treatment for E-commerce</td>
                </tr>
                <tr>
                    <td>Illustrator</td>
                    <td>1</td>
                    <td>&lt;1 year</td>
                    <td>Personal Projects (PCB manufactoring)</td>
                </tr>
                <tr>
                    <td>Sony Vegas</td>
                    <td>1</td>
                    <td>2 years</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Eagle Cad</td>
                    <td>1</td>
                    <td>1 year</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Autocad</td>
                    <td>2</td>
                    <td>2 years</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Quartus II</td>
                    <td>1</td>
                    <td>2 years</td>
                    <td>College Projects</td>
                </tr>
                <tr>
                    <td>Audacity</td>
                    <td>1</td>
                    <td>1 year</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Protheus PCB</td>
                    <td>1</td>
                    <td>2 years</td>
                    <td>Personal PCB manufactoring</td>
                </tr>
                <tr>
                    <td>Arduino</td>
                    <td>1</td>
                    <td>2 years</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Node MCU</td>
                    <td>1</td>
                    <td>3 years</td>
                    <td>Personal Projects (IoT)</td>
                </tr>
                <tr>
                    <td>IIS</td>
                    <td>2</td>
                    <td>3 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SQL Server</td>
                    <td>2</td>
                    <td>4 years</td>
                    <td>2008 and 2012</td>
                </tr>
                <tr>
                    <td>Windows Server</td>
                    <td>1</td>
                    <td>&lt;1 years</td>
                    <td>Version: 2012 R2</td>
                </tr>
                <tr>
                    <td>VirtualBox</td>
                    <td>1</td>
                    <td>2 years</td>
                    <td>Personal Test Enviroments</td>
                </tr>
                <tr>
                    <td>ARP</td>
                    <td>1</td>
                    <td>&lt;1 year</td>
                    <td>Personal Projects</td>
                </tr>
                <tr>
                    <td>Port Fowarding</td>
                    <td>1</td>
                    <td>2 years</td>
                    <td>Personal Projects (IoT, Personal Cloud)</td>
                </tr>
                <tr>
                    <td>MVC</td>
                    <td>2</td>
                    <td>4 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>DDD</td>
                    <td>2</td>
                    <td>2 year</td>
                    <td>Not pure DDD</td>
                </tr>
                <tr>
                    <td>Scrum</td>
                    <td>2</td>
                    <td>&lt;1 year</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kanban</td>
                    <td>2</td>
                    <td>4 years</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ITIL</td>
                    <td>1</td>
                    <td>&lt;1 year</td>
                    <td>Version 2</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>